<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Aogiri</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/main.css}"
	href="../../assets/css/main.css" />

</head>
<body>

	<div class = "wrapper" >
	<div class="page-header">
	<div class="header header-sky" style="transform: translate3d(0px, 0px, 0px);">
        <div class="page-header-image" style="background-image: url('../../assets/img/nuk-pro-back-sky.jpg')">
        </div>
    </div>
    <div class="header header-buildings" style="transform: translate3d(0px, 0px, 0px);">
        <div class="page-header-image page-header-city" style="background-image: url('../../assets/img/nuk-pro-buildings.png')">
        </div>
    </div>
    <div class="text-container text" style="transform: translate3d(0px, 0px, 0px);">
            <h1 class="h1-seo" data-rellax-speed="-1">AOGIRI</h1>
            <div class="pro">PL</div>
        </div>
	</div>
<!--  <div class="section section-components" data-background-color="dark-red">
	    	<div class="container">
		        <div class="row">
		            <div class="col-md-8 ml-auto mr-auto">
		                <h2 class="text-center title">Impressive collection of elements
		                    <br><small class="description">Designed to look gorgeous together</small></h2>
		                <h5 class="text-center description">Now comes with a huge number of customisable elements. They are not only designed to be pixel perfect and light but they are also easy to use and combine well with other components.</h5>
		
		           	     <div class="space-50"></div>
		           	</div>
		    	</div>       
	    	</div>
		</div>	-->	
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>